{{ define "main" }}
    <div class="container my-5">
        <div class="row">
            {{ range .Pages }}
            <div class="col-lg-3">
                <div class="card">
                    <img src="https://via.placeholder.com/100x80" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{ .Title }}</h5>
                      <p class="card-text">{{ .Summary | truncate 60 }}</p>
                      <a href="{{ .Permalink }}" class="btn btn-primary">read More</a>
                    </div>
                  </div>
                </div>
            {{ end }}
        </div>
    </div>
{{ end }}